<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div id=body>
      棒頭直徑
      <input type=number v-model=head_input style=text-align:right>
      <label><input type=radio v-model=head_unit value=mm> mm</label>
      <label><input type=radio v-model=head_unit value=in> in</label>
      ({{head}})
      <br>
      棒身直徑
      <input type=number v-model=body_input style=text-align:right>
      <label><input type=radio v-model=body_unit value=mm> mm</label>
      <label><input type=radio v-model=body_unit value=in> in</label>
      ({{body}})
      <br>
      擴張進程
      <input type=number v-model=cone_input style=text-align:right>
      <label><input type=radio v-model=cone_unit value=mm> mm</label>
      <label><input type=radio v-model=cone_unit value=in> in</label>
      ({{cone}}) (寬度增加8mm時，長度增加量)
      <br>
      轉角寬度
      <input type=number v-model=corner_input style=text-align:right>
      <label><input type=radio v-model=corner_unit value=mm> mm</label>
      <label><input type=radio v-model=corner_unit value=in> in</label>
      ({{corner}})
      <br>
      全寬深度 {{full}}in
      <br>
      <canvas width=800 height=400></canvas>
    </div>
    <script src=../Common/vue.3.4.23.js></script>
    <script>
      let w = 1200, h = 400;
      let get_dim = (head, body, cone, corner) => {
        if( head < 0 ) head = 0;
        if( body <= head ) body = head+0.1;
        if( cone <= 0 ) cone = 0.1;
        if( corner < 0 ) corner = 0;

        let full_l = 25.4*8;
        let head_angle = Math.atan2((body - head)/2, cone*(body-head)/8); // head_arc = M.PI/2 + @ ~ M.PI*3/2 - @
        let head_r = head/2 / Math.cos(head_angle);
        let head_l = head_r * (1 - Math.sin(head_angle));
        let head_h = head_r * Math.cos(head_angle);
        let corner_r = corner / Math.sin(head_angle/2)/2;
        let corner_l = corner_r * Math.sin(head_angle);
        let corner_h = corner_r * (Math.cos(head_angle) - 1) + body/2;
        let cone_l = (corner_h - head_h)*2 / 8 * cone;
        let ring_angle = Math.acos((5-1)/5);
        let foot_angle = ring_angle + Math.PI/2;
        let ring_l = 5 * Math.sin(ring_angle);
        let foot_l = 5 * (1-Math.cos(foot_angle));
        let body_l = full_l - head_l - cone_l - corner_l - ring_l - foot_l;
        return {
          full_l,
          head_angle,
          head_r,
          head_l,
          head_h,
          corner_r,
          corner_l,
          corner_h,
          cone_l,
          ring_angle,
          foot_angle,
          ring_l,
          foot_l,
          body_l,
        };
      };
      let get_stl = (head, body, cone, corner) => {
        if( head < 0 ) head = 0;
        if( body <= head ) body = head+0.1;
        if( cone <= 0 ) cone = 0.1;
        if( corner < 0 ) corner = 0;

        let {
          full_l,
          head_angle,
          head_r,
          head_l,
          head_h,
          corner_r,
          corner_l,
          corner_h,
          cone_l,
          ring_angle,
          foot_angle,
          ring_l,
          foot_l,
          body_l,
        } = get_dim(head, body, cone, corner);

        if( body_l < 0 ){ return NULL; }

        let delta = 0.05;
        let put_cone = (z0, z1, r0, r1) => {
          let r_max = Math.max(r0, r1);
          r_max * (1-cos(th/2)) < delta
          1-cos(th/2) < delta / r_max
        };
      };
      let draw = (head, body, cone, corner) => {
        let scale = 4;
        let pad_x = 10;

        if( head < 0 ) head = 0;
        if( body <= head ) body = head+0.1;
        if( cone <= 0 ) cone = 0.1;
        if( corner < 0 ) corner = 0;

        let {
          full_l,
          head_angle,
          head_r,
          head_l,
          head_h,
          corner_r,
          corner_l,
          corner_h,
          cone_l,
          ring_angle,
          foot_angle,
          ring_l,
          foot_l,
          body_l,
        } = get_dim(head, body, cone, corner);

        if( body_l < 0 ){
          return 0;
        }

        let canvas = document.querySelector('canvas');
        canvas.width = w;
        canvas.height = h;

        let y = h / 2;
        let x = 10;
        let ctx = canvas.getContext('2d');

        // head
        ctx.fillStyle = '#ff99f1';
        ctx.beginPath();
        ctx.moveTo(pad_x + (head_l)*scale, y+head_h*scale);
        ctx.arc(pad_x + (head_r)*scale, y, head_r*scale, Math.PI/2+head_angle, Math.PI*3/2-head_angle);
        ctx.closePath();
        ctx.fill();

        // cone
        ctx.fillStyle = '#b399ff';
        ctx.beginPath();
        ctx.moveTo(pad_x + head_l*scale, y-head_h*scale);
        ctx.lineTo(pad_x + (head_l + cone_l)*scale, y-corner_h*scale);
        ctx.lineTo(pad_x + (head_l + cone_l)*scale, y+corner_h*scale);
        ctx.lineTo(pad_x + head_l*scale, y+head_h*scale);
        ctx.closePath();
        ctx.fill();

        // corner
        ctx.fillStyle = '#ff99f1';
        ctx.beginPath();
        ctx.moveTo(pad_x + (head_l + cone_l)*scale, y+corner_h*scale);
        ctx.lineTo(pad_x + (head_l + cone_l)*scale, y-corner_h*scale);
        ctx.arc(pad_x + (head_l + cone_l + corner_l)*scale, y-(body/2-corner_r)*scale, corner_r*scale, Math.PI*3/2-head_angle, Math.PI*3/2);
        ctx.lineTo(pad_x + (head_l + cone_l + corner_l)*scale, y+body/2*scale);
        ctx.arc(pad_x + (head_l + cone_l + corner_l)*scale, y+(body/2-corner_r)*scale, corner_r*scale, Math.PI/2, Math.PI/2+head_angle);
        ctx.closePath();
        ctx.fill();

        // body
        ctx.fillStyle = '#b399ff';
        ctx.beginPath();
        ctx.moveTo(pad_x + (head_l + cone_l + corner_l)*scale, y - body/2*scale);
        ctx.lineTo(pad_x + (head_l + cone_l + corner_l)*scale, y + body/2*scale);
        ctx.lineTo(pad_x + (head_l + cone_l + corner_l + body_l)*scale, y + body/2*scale);
        ctx.lineTo(pad_x + (head_l + cone_l + corner_l + body_l)*scale, y - body/2*scale);
        ctx.closePath();
        ctx.fill();

        // ring
        ctx.fillStyle = '#ff99f1';
        ctx.beginPath();
        ctx.moveTo(pad_x + (head_l + cone_l + corner_l + body_l)*scale, y - body/2*scale);
        ctx.lineTo(pad_x + (head_l + cone_l + corner_l + body_l)*scale, y + body/2*scale);
        ctx.arc(pad_x + (head_l + cone_l + corner_l + body_l)*scale, y + (body/2+5)*scale, 5*scale, Math.PI*3/2, Math.PI*3/2+ring_angle);
        ctx.lineTo(pad_x + (head_l + cone_l + corner_l + body_l + ring_l)*scale, y - (body/2+1)*scale);
        ctx.arc(pad_x + (head_l + cone_l + corner_l + body_l)*scale, y - (body/2+5)*scale, 5*scale, Math.PI/2-ring_angle, Math.PI/2);
        ctx.closePath();
        ctx.fill();

        // foot
        ctx.fillStyle = '#b399ff';
        ctx.beginPath();
        ctx.moveTo(pad_x + (head_l + cone_l + corner_l + body_l + ring_l)*scale, y + (body/2+1)*scale);
        ctx.lineTo(pad_x + (head_l + cone_l + corner_l + body_l + ring_l)*scale, y - (body/2+1)*scale);
        ctx.arc(pad_x + (head_l + cone_l + corner_l + body_l + ring_l + foot_l - 5)*scale, y - (body/2+2-5)*scale, 5*scale, Math.PI*3/2-ring_angle, Math.PI*2);
        ctx.arc(pad_x + (head_l + cone_l + corner_l + body_l + ring_l + foot_l - 5)*scale, y + (body/2+2-5)*scale, 5*scale, 0, Math.PI/2+ring_angle);
        ctx.closePath();
        ctx.fill();

        return head_l + cone_l + corner_l;
      };
      let app = Vue.createApp({
        data() { return {
          head_input: 27,
          head_unit: 'mm',
          body_input: 35,
          body_unit: 'mm',
          cone_input: 3,
          cone_unit: 'in',
          corner_input: 10,
          corner_unit: 'mm',
          full: 3.7012458813119564,
        } },
        computed: {
          head() {return this.head_input * (this.head_unit=='mm' ? 1 : 25.4)},
          body() {return this.body_input * (this.body_unit=='mm' ? 1 : 25.4)},
          cone() {return this.cone_input * (this.cone_unit=='mm' ? 1 : 25.4)},
          corner() {return this.corner_input * (this.corner_unit=='mm' ? 1 : 25.4)},
        },
        watch: {
          head() {this.draw()},
          body() {this.draw()},
          cone() {this.draw()},
          corner() {this.draw()},
        },
        methods: {
          draw() {
            this.full = draw(this.head, this.body, this.cone, this.corner) / 25.4;
          }
        },
      });
      app.mount('#body');
      draw(27, 35, 76.2, 10);
    </script>
  </body>
</html>
