<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div id=body>
      棒頭直徑
      <input type=number v-model=head_input style=text-align:right>
      <label><input type=radio v-model=head_unit value=mm> mm</label>
      <label><input type=radio v-model=head_unit value=in> in</label>
      ({{head}})
      <br>
      棒身直徑
      <input type=number v-model=body_input style=text-align:right>
      <label><input type=radio v-model=body_unit value=mm> mm</label>
      <label><input type=radio v-model=body_unit value=in> in</label>
      ({{body}})
      <br>
      擴張進程
      <input type=number v-model=cone_input style=text-align:right>
      <label><input type=radio v-model=cone_unit value=mm> mm</label>
      <label><input type=radio v-model=cone_unit value=in> in</label>
      ({{cone}}) (寬度增加8mm時，長度增加量)
      <br>
      轉角寬度
      <input type=number v-model=corner_input style=text-align:right>
      <label><input type=radio v-model=corner_unit value=mm> mm</label>
      <label><input type=radio v-model=corner_unit value=in> in</label>
      ({{corner}})
      <br>
      全寬深度 {{full}}in
      <br>
      <canvas width=800 height=400></canvas>
    </div>
    <script src=../Common/vue.3.4.23.js></script>
    <script src=../Common/livescript-1.6.1-min.js></script>
    <script type=text/ls src=main.ls></script>
    <script>require('livescript').go()</script>
  </body>
</html>
